{% extends 'base.html' %}

{% block content %}
<form method="POST" class="form-article">
    <div class="form-controle">
        <h1>new post</h1>
        <input type="text" name="article-title" id="article-title" required placeholder="title" >

        <textarea rows="20" name="article-content" id="article-content" placeholder="..."  required></textarea>
        
        <input class="check" type="checkbox" name="available" id="available" value=True>
        <button type="submit">submit</button>
    </div>    
</form>


{% endblock content %}

{% block scripts %}
<script type="text/javascript" src='{{ url_for("static" , filename="js/main.js" ) }}'></script>
<script>set_checkbox()</script>
{% endblock scripts %}